<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title id="titleUserData">ПОЛЬЗОВАТЕЛЬ</title>
</head>

<body>

<div class="container-fluid">


    <div class="row bg-dark text-white p-2">
        <div class="col-sm text-left">
            <a id="currUsername" class="font-weight-bold text-white h4">LOGIN</a>
            <a class="text-light"> with role(s): </a>
            <a id="currUserRoles" class="font-weight-bold text-white h4">ROLES</a>
        </div>
        <div class="col-sm text-right">
            <a class="btn btn-outline-light btn-md" href="/logout">Logout</a>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <a class="nav-link active" id="adminTab" data-toggle="pill" href="#v-pills-home" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Администратор</a>

                <a class="nav-link" id="userTab" data-toggle="pill" href="#v-pills-profile" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">Пользователь</a>
            </div>
        </div>

        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                     aria-labelledby="v-pills-home-tab">
                    <h1>Панель Администратора</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Список пользователей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Новый пользователь</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!--LIST USERS-->
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card">
                                <h2 class="card-header">Список пользователей</h2>
                                <div class="card-body">

                                    <table class="table table-hover" id="tableAllUsers">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>ИМЯ</th>
                                            <th>ФАМИЛИЯ</th>
                                            <th>ЛОГИН</th>
                                            <th>EMAIL</th>
                                            <th>РОЛЬ</th>
                                            <th>ДЕЙСТВИЕ</th>
                                        </tr>
                                        </thead>
                                        <tbody id="data">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3>Новый пользователь</h3>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-6">
                                    <div class="form-group text-center">
                                        <form id="userFormAdd">
                                            <label for="nameAdd" class="col-form-label font-weight-bolder">Имя</label>
                                            <input id="nameAdd" name="name" type="text" class="form-control">

                                            <label for="surnameAdd" class="col-form-label font-weight-bolder">Фамилия</label>
                                            <input id="surnameAdd" name="surname" type="text" class="form-control">

                                            <label for="usernameAdd"
                                                   class="col-form-label font-weight-bolder">Логин</label>
                                            <input id="usernameAdd" name="username" type="text" class="form-control" value="">

                                            <label for="emailAdd"
                                                   class="col-form-label font-weight-bolder">Почта</label>
                                            <input id="emailAdd" name="email" type="text" class="form-control">

                                            <label for="passwordAdd"
                                                   class="col-form-label font-weight-bolder">Пароль</label>
                                            <input id="passwordAdd" name="password" type="password"
                                                   class="form-control" value="">

                                            <label for="rolesInputAdd" class="col-form-label font-weight-bolder">Выберите
                                                роли:</label>
                                            <select id="rolesInputAdd" class="form-control font-weight-bolder"
                                                    name="listRoles"  size="2" multiple>
                                            </select>

                                            <input type="submit" class="btn btn-success" value="Добавить">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h1>Информация</h1>
                    <div class="card">
                        <h4 class="card-header">О пользователе</h4>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ИМЯ</th>
                                    <th>ФАМИЛИЯ</th>
                                    <th>ЛОГИН</th>
                                    <th>EMAIL</th>
                                    <th>РОЛЬ</th>
                                </tr>
                                </thead>
                                <tbody id="currUserData">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="editUserModalRESTIndex" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white"><span style="font-weight:bold">Редактирование пользователя</span>
                </h4>
            </div>
            <form id="userFormEdit">
                <div class="modal-body form-group text-center">

                    <label for="idInput"
                           class="col-form-label font-weight-bolder">ID</label>
                    <input type="text" class="form-control" id="idInput" name="id" readonly>

                    <label for="nameInput"
                           class="col-form-label font-weight-bolder">Имя</label>
                    <input type="text" class="form-control" id="nameInput" name="name">

                    <label for="surnameInput"
                           class="col-form-label font-weight-bolder">Фамилия</label>
                    <input type="text" class="form-control" id="surnameInput" name="surname">

                    <label for="usernameInput"
                           class="col-form-label font-weight-bolder">Логин</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">

                    <label for="emailInput" class="col-form-label font-weight-bolder">Почта</label>
                    <input type="text" class="form-control" id="emailInput" name="email">

                    <label for="passInput" class="col-form-label font-weight-bolder">Пароль</label>
                    <input type="password" class="form-control" id="passInput" name="password">
                    <label for="rolesEdit" class="col-form-label font-weight-bolder">Роли:</label>
                    <select class="form-control font-weight-bolder" size="2"
                            name="roles" id="rolesEdit" multiple></select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteUserModalRESTIndex" class="modal fade" role="dialog" th:fragment="delete-user" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title text-white">Удаление пользователя</h4>
            </div>
            <form th:method="delete" id="userFormDelete">
                <div class="modal-body">

                    <div class="form-group text-center">

                        <label for="idDel"
                               class="col-form-label font-weight-bolder">ID</label>
                        <input type="text" class="form-control" id="idDel" readonly>

                        <label for="nameDel"
                               class="col-form-label font-weight-bolder">Имя</label>
                        <input type="text" class="form-control" id="nameDel" readonly>

                        <label for="surnameDel"
                               class="col-form-label font-weight-bolder">Фамилия</label>
                        <input type="text" class="form-control" id="surnameDel" readonly>

                        <label for="usernameDel"
                               class="col-form-label font-weight-bolder">Логин</label>
                        <input type="text" class="form-control" id="usernameDel" readonly>

                        <label for="emailDel" class="col-form-label font-weight-bolder">Почта</label>
                        <input type="text" class="form-control" id="emailDel" readonly>

                        <label for="rolesDel" class="col-form-label font-weight-bolder">Роли:</label>
                        <select class="form-control font-weight-bolder" size="2"
                                name="listRoles" id="rolesDel" multiple readonly>

                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="javascript.js"></script>


<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>